Package: com.neinzedd9.sendseparately
Name: Send Separately
Depends: mobilesubstrate
Version: 0.5.0
Architecture: iphoneos-arm
Description: Send messages to a group of people separately.
Maintainer: NeinZedd9
Author: NeinZedd9
Section: Tweaks
